#countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0 0 0;
    width: 100%;
    text-align: center;
}

#countdown-circle, #countdown-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border: 5px solid #F66;
    background-color: #1F1A28;
    text-align: center;
}

#countdown-circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#countdown-square {
    padding: 15px 25px;
    border-radius: 8px;
}

#countdown-text {
    font-size: 50px;
    margin: 0;
}
